.cookie
{
    position:fixed;
    z-index:130;
    right:0px;
    bottom:0px;
    left:0px;
    height:40px;
    background-color:#DC143C;
    overflow:hidden;
    background:rgba(43,43,43,.7);
    color:#fff;
    text-align:left;
    font-family:Calibri;
    font-size:18px;
    visibility:visible;
}

.bouton_cookie
{
    background-color:#BD5915;
    color:#fff;
    border-color: #BD5915;
    float:right;
    height: 100%;
    width: 10%;
    font-size:15px;
}